language: scala
scala:
- 2.11.4
jdk:
- oraclejdk7
sudo: false
branches:
  only:
  - master
  - /^[0-9].[0-9].[0-9]$/
cache:
  directories:
  - $HOME/.m2

before_install:
- test "$TRAVIS_PULL_REQUEST" == "false" && git clone -b travis `git config --get remote.origin.url` target/travis || true

install:
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && echo "Not a PR Build" && [ "IS_${TRAVIS_TAG}" != "IS_" ] && echo "Is tag build $TRAVIS_TAG" || echo "."'
- '[ "IS_${TRAVIS_TAG}" != "IS_" ] && mvn versions:set -DnewVersion=$TRAVIS_TAG || true'
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && echo "Deploying..." && mvn deploy site-deploy -DskipTests=true --settings target/travis/settings.xml -Dgithub.global.oauth2Token=$GITHUB_TOKEN || echo "Testing..." && mvn test -B'

after_success:
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && sbt ++2.11.4 coverageAggregate || true'
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && sbt ++2.11.4 coveralls || true'

env:
  global:
  - MAVEN_OPTS="-Xmx1024m -XX:MaxPermSize=256m"
  - secure: C6EtHI0vV7436ocVewCB1TICsPBccGdfdzvWAeNdmIR+Pz4qPB0K8Sk2YHXXw270LLLonh4+1a7L9U6BoJPqdNwXQOZREes9aEmgYbR4C4YQuO16SDFKREzPngwvetzQAcHa9qrkMcSW9mx0/yuMfYIjMVarUuLblExZyGmkrS3vCVySXkm8KfnIdEAHv6Rqi4wC59tyIuGER+JJyCIlF0WAtLFQLADhzEGAc6Y5S+6uvpnS4dtt5jcWTYGFUOlrsG8y21+At1xxlVuJVF7+VRCbqO6eQK4eWhTLBitOUOw+f/YI5SMg8E/1qh0RcGXV7cCMqQyF+HQjiwOInXg1WzmCEk23PN2pYum4DB12SGLK25JAwrW1IiQtQ4hvC/YXAmgBmrQalgTpF3S33zYJva0HRGG/FlWoRJ8N7DBJhMkbex56hmZWLP6w0xH5L+tGTurxKhraaaDuQYwm4HyB8sb6mDc5DwlYEDnk0/AgxTn1DMDPDOGGx57qqqNGfPfCn1gT7tW5zd+xjhwIEvWlC9xOi5TVC22wn6PzA8BskKrmq7wahYVwoMogL1J7caD+oFBqQwKt2cpkpGfp9eJbMu/zu5TfM9DZkyAAiAf87d/Suv97leOTgzaUy1+1nxYgm05j2Tr7XGFTLJPHtsFaQtR5tygDmR2xqXTHtjjJ6/Q=
  - secure: e2saLM2i5J2Z+ECpgMEXvvSSFqRq6sJlVliJTXp0JjiGNzM6kWB6N28DjkOSjM9fVgKqoyXFENDk2uVFnokOy3tEqePaaCItCqT3LFt24ZvNekvEs7saVZTllJE03Xvr5IktXMaUal4t1truvmQnVx4n+ZkvvNCHLM3T3yNSlxa2WC/z2G/eR/o3vvY/ags2Oz0ijox+gylzei7rY5Ax2OIEmX9OWSuwtftAFfgZnnZhjoPek0IwljWTmrqpFmIqsVlov3c1Jx7QtCFAlbeX+uKYQE4lUXw6OjkBlGvzslPLK9I7wy5LTq/n3RCauCSRp9AjV2dJR+uacHTKZtQV6U2UFGEPuD9Z7eswoCNL5Q1Vm3bCI5uxrzST4rV+CvGNgvxiOLuqlgmB+CKPtB4gcntKE725Sc3uHjtfVCKQsropJ19HtfB/g1dXM5iC9W5uK8Gk+PTWhvScbAiZvx21dztPZzU3OLCO1KJneUV2H3mWurmx7owd9H79RzCuvkGI9PwUCKdb85KLEESss9jF9cDoCCG/K0guUOjcrUiwHZ8j671XtFT00jESxYdeW9Mmi2WzWbjVD5DMd7ouIKojFmwXSs1Mb6zpD7yZ5RfVcjPBvFz+uflpFAME1Q1lG5dbwvAFs4JLwDICmgkFTCLlGua2s8dzkpHOcUUEycRrveA=
  - secure: k0z9G9ZnOEg1N9ro4fnTOAM0lF2WI5pcj5ygKvxZQQouyxX2QpZX1n8dzDmcnKr+ut4qyTYHz7dH6OFmomr7xONrJuE8SSe3RcAudZVB6B5NImaWE7pkVGs34nHkPYn8c2kTGSj/9tj8/j3c3gBGiyD4yQvs+Yz921ydWGuaRE4wSGcSg1poU2jEkxP1Ps0KqXqiPTLzeNDb+9a77IhhXyZDYijVRWRAFNNP8rGv4vObt54YP/bwIo1qLpeIwtUH86GCCE1mLqepJ6M9lzLzJqLM8Lj2KaUKaVSiKvZC2zlF+yPXioOb4uuvete3UUKMtLAulW4vGzZjOCTh51wXKRJB2ccUVbqD1jBsD/PgLskV171bKEIzLY6kPK1pVCosqC9moOpHJwCtxUiycw+W4HCXjgFVXfiTMqJU5q6RKpj/ePvi5mgw6PiiIPIlUaY+LJ0q7v2uSNbvkrkZltnwdcz28Yhnja0U9FMA1IUAdXiaSnjioncLoq6vLt4LjQA9yKJe/F7G/TC5bhKU88XVcBjYeilMBCFCYn393tPvTAlbvzEaUabwIcc8goBHLPmKy+aSmWBYGBFxj4OHQviR2NLgzHtdIwHIRyS85k3OBXBCQwI6qkpjRxkE7jjobXT+NpehaiqU9eE/9D68eZhzWSAnqQdWjY+zG85KYXsfxu4=
